extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1 #{projectName}

        p #{description}

      .project-tech-links-box.box
        h6 #{technologies}
        ul

          each technology in technologies 
            li #{technology}

        a.btn-link(href='') Live Demo
        a.btn-link(href=`${repo}` target='_blank') GitHub Repo

    .project-img-box.box

      img.project-img(src=`${imageURLs[0]}`, alt=`${projectName} landing page`)
      img.project-img(src=`${imageURLs[1]}`, alt=`${projectName} page in action picture`)
    

    nav.nav
      a(href='/')
        span &larr;
        |  Back
